<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tagView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4CFB8CD1D90D9DE00C52FA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CFB8E61D90D9DE00C52FA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CFB8F11D90D9DE00C52FA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
